d="create-virtualmaschine-using-vagrant">Create Virtualmaschine using Vagrant</h3>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash"><span class="kw">vagrant</span> init hashicorp/precise64
    <span class="kw">vagrant</span> up</code></pre></div>
    <h3 id="first-step-vagrantfile">First Step Vagrantfile</h3>
    <p>Create Vagrantfile:</p>
    <p>Purpose:</p>
    <pre><code>- Mark the root directory config options relative to root directory
    - Describe the kind of machine and resources you need to run your project, and what software to install</code></pre>
    <p>Vagrant has a built-in command for initializing a directory for usage with Vagrant:</p>
    <p><strong>vagrant init</strong></p>
    <div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash"><span class="kw">mkdir</span> vagrant_getting_started
    <span class="kw">cd</span> vargant_getting_started
    <span class="kw">vagrant</span> init</code></pre></div>
        <p>Vergantfile will be created</p>
        <h3 id="boxes">Boxes</h3>
        <p>Vargant uses a base image to quickly clone a virtual machine. Synonym for base image = boxes.</p>
        <h4 id="add-a-box">Add a box</h4>
        <p>vagrant box add hashicorp/precise64</p>
        <p>download the box names &quot;hashicorp/precise64&quot;</p>
        <p>Hashicorp cloud to host boxes</p>
        <h3 id="using-a-box">Using a Box</h3>
        <p>configure project to use it as a base</p>
        <p>Vagranfile:</p>
        <div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash"><span class="kw">Vagrant.configure</span>(<span class="st">&quot;2&quot;</span>) <span class="kw">do</span> <span class="kw">|config|</span>
            <span class="kw">config.vm.box</span> = <span class="st">&quot;hashicorp/precise64&quot;</span>
                <span class="kw">config.vm.box_version</span> = <span class="st">&quot;1.1.0&quot;</span>
                <span class="kw">end</span></code></pre></div>
            <h4 id="specify-the-url">specify the URL</h4>
            <p>config.vm.box_url = &quot;http://files.vagrantup.com/precise64.box&quot;</p>
            <h3 id="boot-vagrant-environment">Boot Vagrant environment</h3>
            <p>vagrant up</p>
            <h4 id="ssh-into-the-machine">SSH into the machine</h4>
            <p>varant ssh</p>
            <h4 id="destroy-a-machine">Destroy a machine</h4>
            <p>vagrant destroy</p>
            <h3 id="synced-folders">Synced Folders</h3>
            <p>With synced folders, Vagrant will automatically sync your files to and from the guest machine By default, Vagrant shares your project directory to the /vagrant directory in your guest machine</p>
            <p>ssh: wd /home/vagrant</p>
            <p>cd /vagrant</p>
            <h3 id="install-apache">Install Apache</h3>
            <div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash"><span class="co">#!/usr/bin/env bash</span>

            <span class="kw">apt-get</span> update
            <span class="kw">apt-get</span> install -y apache2
            <span class="kw">if</span> !<span class="kw"> [</span> <span class="ot">-L</span> /var/www<span class="kw"> ]</span>; <span class="kw">then</span>
                <span class="kw">rm</span> -rf /var/www
                    <span class="kw">ln</span> -fs /vagrant /var/www
                    <span class="kw">fi</span></code></pre></div>
                <h4 id="run-the-script-in-vagrant">Run the script in Vagrant</h4>
                <p>config.vm.provision :shell, path: &quot;bootstrap.sh</p>
                <h3 id="if-virutalbox-is-running">If Virutalbox is running</h3>
                <p>vagrant reload --provision</p>
                <h3 id="networking-in-vagrant">Networking in Vagrant</h3>
                <p>Vargants networking features to give us additional options for accessing the machine form our host machine.</p>
                <h4 id="one-option-port-forwarding">One Option Port Forwarding</h4>
                <p>Port forwarding allows you to specify ports on the guest machine to share via a port on the host machine</p>
                <p>config.vm.network :fowarded_port, guest: 80, host: 4567</p>
                <h3 id="vagrant-share">Vagrant Share</h3>
                <p>lets you share your Vagrant environment to anyone around the world with an Internet connection</p>
                <h3 id="suspendinghaltingdestroying">Suspending/Halting/Destroying</h3>
                <h4 id="suspend">Suspend</h4>
                <p>vagrant suspend will save the current running state of the machine and stop it.Vagrant up again and resume the work. PRO : Super fast CON : disk space/RAM</p>
                <h4 id="halting">Halting</h4>
                <p>vagrant halt shut down the guest OS and powder down the guest machine</p>
                <h4 id="destroying
